*.dll
*.pdb
Converters.Infrastructure/obj/Debug/Converters.Infrastructure.csprojResolveAssemblyReference.cache
Converters.Infrastructure/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Converters.Infrastructure/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Converters.Infrastructure/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.exe
Converters.Tester/bin/Debug/Converters.Tester.exe.config
Converters.Tester/bin/Debug/Converters.Tester.vshost.exe.config
Converters.Infrastructure/obj/Debug/Converters.Infrastructure.csproj.FileListAbsolute.txt
Converters.Tester/obj/Debug/App.g.cs
Converters.Tester/obj/Debug/App.g.i.cs
Converters.Tester/obj/Debug/Converters.Tester.csproj.FileListAbsolute.txt
Converters.Tester/obj/Debug/Converters.Tester.csproj.GenerateResource.Cache
Converters.Tester/obj/Debug/Converters.Tester.csprojResolveAssemblyReference.cache
Converters.Tester/obj/Debug/Converters.Tester.g.resources
Converters.Tester/obj/Debug/Converters.Tester.Properties.Resources.resources
Converters.Tester/obj/Debug/Converters.Tester_MarkupCompile.cache
Converters.Tester/obj/Debug/Converters.Tester_MarkupCompile.i.cache
Converters.Tester/obj/Debug/Converters.Tester_MarkupCompile.i.lref
Converters.Tester/obj/Debug/Converters.Tester_MarkupCompile.lref
Converters.Tester/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Converters.Tester/obj/Debug/GeneratedInternalTypeHelper.g.cs
Converters.Tester/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
Converters.Tester/obj/Debug/MainWindow.baml
Converters.Tester/obj/Debug/MainWindow.g.cs
Converters.Tester/obj/Debug/MainWindow.g.i.cs
Converters.Tester/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Converters.Tester/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Converters.Tester/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.suo
Converters.Tester/bin/Debug/Converters.Tester.vshost.exe.manifest
